<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Testes unitários">
            <directory>test/unit</directory>
        </testsuite>
        <testsuite name="testes de integração">
            <directory>test/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>